@import "vars";

p {
  font-family: $typography;
}

body {
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border: solid $primary-color 2px;
  border-radius: 1em;
  width: 100%;
  background-color: black;

  p {
    font-size: 1.2em;
    color: white;
  }
}

.logo-home {
  width: 30%;
}

.cart {
  color: white;
  font-size: 2.5em;
  margin-top: 20%;
}

.cart-div{
  color: $primary-color;
  font-size: 2.2em;
  margin-top: 6%;
}
.show-cart{
  color: $primary-color;
  font-size: 3em;
}

.column-shows {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-bottom: 3em;

  .row-shows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;

    .card-show {
      border-radius: 0.5em;
      height: 550px;
      width: 25%;
      border: $primary-color solid 3px;
      margin-top: 3em;
      background-color: black;

      img {
        width: 100%;
        height: 60%;
        border-radius: 0.5em;
        object-fit: cover;
        margin-top: 3%;
      }

      h2 {
        font-size: 1.4em;
        font-family: $typography;
        font-weight: bold;
        color: $primary-color;
        width: 30%;
        text-align: center;
        border-radius: 3em;
        margin-top: 4%;
        margin-left: 37%;
        border: $primary-color solid 3px;

      }

    }
  }
}

.price-cart {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;

  h3 {
    font-size: 2em;
    font-family: $typography;
    font-weight: bold;
    color: $primary-color;
  }

  i {
    color: $primary-color;
    font-size: 2.3em;
    margin-top: 6%;
  }
}

.card-artists {
  border-radius: 30em;
  height: 500px;
  width: 25%;
  border: $primary-color solid 3px;
  margin-top: 3em;
  background-color: black;

  img {
    width: 100%;
    height: 60%;
    border-radius: 30em;
    object-fit: cover;
    margin-top: 3%;

  }

  h2 {
    font-size: 1.1em;
    font-family: $typography;
    font-weight: bold;
    color: $primary-color;
    width: 40%;
    text-align: center;
    border-radius: 3em;
    margin-top: 6%;
    margin-left: 30%;
    border: $primary-color solid 3px;

  }

  h3 {
    font-size: 1.5em;
    font-family: $typography;
    font-weight: bold;
    text-align: center;
    color: $primary-color;
  }
}

.card-artist {
  display: flex;
  flex-direction: column;

  img {
    width: 80%;
    border-radius: 1em;
    border: solid $primary-color 2px;
    margin: 0 auto;

  }

  h2 {
    color: $primary-color;
    font-size: 2.3em;
    font-family: $typography;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  p {
    color: $primary-color;
    font-size: 1.5em;
    font-family: $typography;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.back {
  color: $primary-color;
  font-size: 4.3em;
  position: fixed;
  margin-top: 15%;

}

.btn-connexion {
  border: white solid 2px;
  border-radius: 3em;
  width: 10%;
  height: 4%;
  margin-top: 1%;
  text-align: center;

  a {
    color: white;
    font-family: $typography;
    font-size: 1.2em;
    font-weight: bold;
  }

  a:hover {
    color: $primary-color;
  }
}

.btn-connexion:hover {
  border: $primary-color solid 2px;
}

.btn-inscription {
  border: white solid 2px;
  border-radius: 3em;
  width: 8%;
  height: 4%;
  margin-top: 1%;
  text-align: center;

  a {
    color: white;
    font-family: $typography;
    font-size: 0.8em;
    font-weight: bold;
  }

  a:hover {
    color: $primary-color;
  }
}

.btn-inscription:hover {
  border: $primary-color solid 2px;
}

.sign-in, .sign-up {
  width: 60%;
  height: 60%;
  margin: 5% auto;
  border: $primary-color solid 4px;
  border-radius: 3em;

  h1 {
    color: white;
    font-family: $typography;
    text-align: center;
    margin-bottom: -5%;
  }

}

.input-sign-in {
  display: flex;
  flex-direction: column;
  margin: 15% auto;

  label {
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }

  input {
    padding-top: 2%;
    margin: 0 auto;
  }

  .mail {
    background-color: white;
    border: $primary-color solid 1px;
    width: 60%;
    margin: 0 auto;
    border-radius: 2em;
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }

  .password {
    background-color: white;
    border: $primary-color solid 1px;
    width: 60%;
    margin: 3% auto;
    border-radius: 2em;
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }

  button {
    width: 12%;
    margin: 4% auto;
    border: $primary-color solid 5px;
    background-color: black;
    font-size: 1.2em;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: $typography;
    font-weight: bold;
    border-radius: 2em;

  }
}


.input-sign-up{
  display: flex;
  flex-direction: column;
  margin: 15% auto;
  div{
    margin: 0 auto;
    width: 60%;
  }

  label {
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }

  input {
    padding-top: 4%;
    margin: 0 auto;
  }

  .email {
    background-color: white;
    border: $primary-color solid 1px;
    width: 100%;
    margin: 0 auto;
    border-radius: 2em;
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }

  .password {
    background-color: white;
    border: $primary-color solid 1px;
    width: 100%;
    margin: 0 auto;
    border-radius: 2em;
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }
  .password-check{
    background-color: white;
    border: $primary-color solid 1px;
    width: 100%;
    margin: 3% auto;
    border-radius: 2em;
    font-family: $typography;
    font-weight: bold;
    text-align: center;
  }

  button {
    width: 12%;
    margin: 10% 44%;
    border: $primary-color solid 5px;
    background-color: black;
    font-size: 1.2em;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: $typography;
    font-weight: bold;
    border-radius: 2em;

  }
}

.payments-column{
  display: flex;
  flex-direction: column;
  .payments-row{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    div{
      width: 30%;
      margin: 0 auto;
    }
    img{
      width: 50%;
      margin: 0 auto;
    }
  }
}

.full-page-detail{
  display: flex;
  flex-direction: row;
}
.show-detail{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  h2{
    color: $primary-color;
    font-size: 2.3em;
    font-family: $typography;
    text-align: center;
  }
  h4{
    color: $primary-color;
    font-size: 1.4em;
    font-family: $typography;
    text-align: center;
  }
  p{
    color: $primary-color;
    font-size: 1.2em;
    font-family: $typography;
    text-align: justify;
    width: 60%;
    margin: 0 auto;
  }
}
.card-detail-column{
  display: flex;
  border: solid $primary-color 2px;
  border-radius:1em;
  flex-direction: column;
  width: 50%;
  margin: 3% auto;
  height: 100%;
  .card-detail-row{
    display: flex;
    width: 100%;
    flex-direction: row;
    img
    {
      width: 100%;
      border-radius:1em;
    }
  }
}


.homepage{
  background-image: url('../../public/build/homepageBackground.png');
}
